<header class="site-header" role="banner">
  <a href="#" id="menuIcon" class="page-link"><img src="/assets/images/Menu.svg" height="32px" title="Menu"/><span class="sr-only">Go back</span></a>
</header>
<div class="drawer" id="menu">
  <a href="#" class="close" id="closeIcon"><img src="/assets/images/Close.svg" height="32px" title="Close menu"/><span class="sr-only">Go back</span></a>
  <nav class="site-nav">
    <a class="page-link" href="/">Home</a>
    <a class="page-link" href="/about">About</a>
    <a class="page-link" href="/process">Process</a>
    <a class="page-link" href="mailto:jonmb08@gmail.com?Subject=Hello">Contact</a>
  </nav>
</div>
