@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Inter", system-ui, Helvetica, Arial, sans-serif;

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     1rem !default;

$text-color:       #0F1015 !default;
$background-color: #F0F3F8 !default;
$brand-color:      #002DE3 !default;

$grey-color:       #E4E7EB !default;
$grey-color-light: #F5F7FA !default;
$grey-color-dark:  #616E7C !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1140px !default;

$on-palm:          600px !default;
$on-laptop:        1024px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
