.mark {
  margin-bottom: $spacing-unit;
}

.brand {
  font-family: $secondary-font-family;
  @include relative-font-size(2);
  line-height: 1.5;
  font-weight: 300;
  padding: 6vw 0;
  width: 100%;
  margin: 0;

  @include media-query ($on-palm) {
    @include relative-font-size(1.5);
  }
}

.drawer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;right:0;left: 0; bottom: 0;
  background-color: $background-color;
  height: 0%;
  width: 100%;
  overflow: hidden;
  transition: all 100ms ease-in-out;
  z-index: 1;
  width: 100%;
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit * 2;
  padding-left: $spacing-unit * 2;

  @include media-query($on-laptop) {
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }

  &.open {
    height: 100%;
  }

  .close {
    position: absolute;
    top: $spacing-unit;
    left: $spacing-unit * 2;
  }
}

.experience-list {
  display: grid;
  column-gap: $spacing-unit * 2;
  row-gap: $spacing-unit * 2;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;

  @include media-query($on-palm) {
    grid-template-columns: 1fr;
  }
}

.experience-item {
  position: relative;
  overflow: hidden;
  border-radius: .25rem;

  &:hover {
    .experience-info {
      opacity: 1;
    }
  }
}

.experience-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.6);
  color: #fff;
  padding: $spacing-unit * 2;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.experience-link {
  text-decoration: none;

  figure {
    margin: 0;
    z-index: -1;
  }
}

.categories {
  list-style: none;
  margin: 0;
  font-size: $base-font-size;
}

/**
 * Site header
 */
 .site-header {
  // Positioning context for the mobile navigation icon
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-unit 0;
  width: 100%;
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit * 2;
  padding-left: $spacing-unit * 2;

  @include media-query($on-laptop) {
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

.site-nav {
  display: flex;
  flex-direction: column;
  
  .page-link {
    line-height: $base-line-height;
    display: block;
    padding: $spacing-unit/2 0;
    text-decoration: none;
    font-weight: 500;
    transition: all 200ms ease-in-out;
    align-items: end;
    text-align: center;

    &:hover {
      opacity: .6;
    }

    &:last-child{
      margin: 0;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit * 4 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Home 
 */
.home-banner {
  padding-bottom: .5rem;

  @include media-query($on-palm) {
    font-size: $base-font-size;
    width: 100%;
  }
}


/**
 * Page content
 */

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
}



/**
 * Posts
 */
.post-title,
.page-title,
.project-title {
  font-family: $secondary-font-family;
  @include relative-font-size(2);
  line-height: 1.5;
  font-weight: 300;
  padding: 6vw 0;
  width: 100%;
  margin: 0;
}



.post-content,
.page-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }


  img {
    width: 100%;

    &.right {
      width: 50%;
      margin: 0 0 2rem 2rem;
      float: right;
    }

    &.left {
      width: 50%;
      margin: 0 2rem 2rem 0;
      float: left;
    }
  }
}

/**
 * projects
 */

.project-excerpt {
  margin: 0;
}

.project-content {
  padding: $spacing-unit * 2 0;
}

.iframe__container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin: $spacing-unit * 2 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.lead {
  font-size: 1.5rem;
}
