/**
 * Site header
 */
.site-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 120px;
  margin-bottom: 2rem;

  @include media-query($on-palm) {
    justify-content: center;
    flex-direction: column;
    height: 160px;
    margin: 1rem;
  }
}

.site-title {
  font-weight: bold;
  color: $text-color;
  text-transform: uppercase;
  text-decoration: none;
  
  @include media-query($on-palm) {
    margin-bottom: 1rem;
  }

  img {
    height: 80px;
  }

  &:hover {
    text-decoration: none;
    color: $grey-color-dark;
  }
}

.site-nav {
  margin-left: auto;
  
  @include media-query($on-palm) {
    margin-left: 0;
  }

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    position: relative;
    display: block;
    float: left;
    color: $grey-color;
    margin-left: 1rem;
    padding: 1rem;
    text-decoration: none;

    &:first-child {
      margin: 0;
    }

    &:hover {
      color: $brand-color;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  background-color:#861F41;
  color: $brand-color;
  padding: $spacing-unit * 4 0;
  margin-top: $spacing-unit * 2;
  text-align: center;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Home 
 */
.home-header {
  display: flex;
  align-items: center;
  height: 400px;

  @include media-query($on-laptop) {
    height: 300px;
  }

  @include media-query($on-palm) {
    height: 200px;
  }
}

.home-heading {
  @include relative-font-size(2);
  font-weight: normal;
  margin: 0;

  @include media-query($on-laptop) {
    @include relative-font-size(1.75)
  }

  @include media-query($on-palm) {
    @include relative-font-size(1.5)
  }
}


/**
 * Page content
 */

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
}



/**
 * Posts
 */
.page,
.post {
  max-width: 700px;
  margin: 0 auto;
}
.post-title,
.page-title {
  @include relative-font-size(2.625);
  font-weight: 600;
  letter-spacing: -1px;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content,
.page-content {
  margin-bottom: $spacing-unit;

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 3rem 0 1rem;
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }


  img {
    width: 100%;

    &.right {
      width: 50%;
      margin: 0 0 2rem 2rem;
      float: right;
    }

    &.left {
      width: 50%;
      margin: 0 2rem 2rem 0;
      float: left;
    }
  }
}

.iframe__container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: $spacing-unit;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
