.site-header {
  padding-top: $spacing-unit;
}

.brand {
  @include relative-font-size(2);
  line-height: 1.5;
  font-weight: 300;
  padding: 4vw 0;
  width: 100%;
  margin: 0;

  @include media-query ($on-palm) {
    @include relative-font-size(1.5);
  }
}

.drawer {
  display: flex;
}

.experience-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  gap: calc($spacing-unit * 2);


  @include media-query($on-laptop) {
    grid-template-columns: 1fr 1fr;
  }

  @include media-query($on-palm) {
    grid-template-columns: 1fr;
  }
}

.experience-title {
  @include relative-font-size(1.25);
  margin-bottom: $spacing-unit;
}

.experience-item {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.experience-link {
  text-decoration: none;

  figure {
    margin: 0;
  }
}

.experience-info {
  padding: calc($spacing-unit * 2);
}

.categories {
  list-style: none;
  margin: 0;
  font-size: $base-font-size;
}

/**
 * Site header
 */

.site-nav {
  display: flex;
  justify-content: center;

  .page-link {
    display: block;
    padding: $spacing-unit;
    text-decoration: none;
    font-weight: 500;
  }
}


/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit * 4 0;
  text-align: center;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Home 
 */
.home-banner {
  padding-bottom: .5rem;

  @include media-query($on-palm) {
    font-size: $base-font-size;
    width: 100%;
  }
}


/**
 * Page content
 */

 .post-header {
  margin-bottom: $spacing-unit * 2;
  text-align: center;
  padding-bottom: 6vw;
 }

 .post-title {
  @include relative-font-size(5);
  line-height: 1.5;
  font-weight: 500;
  padding: 6vw 0 0;
  width: 100%;
  margin: 0 0 $spacing-unit;
  text-align: center;
 }

 .post-meta {
  font-size: $base-font-size;
  color: $grey-color-dark;
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-link {
  display: block;
}



/**
 * Posts
 */
.page-title,
.project-title {
  @include relative-font-size(5);
  line-height: 1.5;
  font-weight: 500;
  padding: 6vw 0;
  width: 100%;
  margin: 0;
  text-align: center;
}



.post-content,
.page-content {
  background-color: #fff;
  padding: $spacing-unit * 6;
  margin-bottom: $spacing-unit;

  img {
    width: 100%;

    &.right {
      width: 50%;
      margin: 0 0 2rem 2rem;
      float: right;
    }

    &.left {
      width: 50%;
      margin: 0 2rem 2rem 0;
      float: left;
    }
  }
}

/**
 * projects
 */

.project-excerpt {
  margin: 0;
}

.project-content {
  background-color: #fff;
  padding: $spacing-unit * 6;
}

.iframe__container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin: $spacing-unit * 2 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.lead {
  font-size: 1.5rem;
}
