---
layout: default
---
<article class="page">

  <header id="intro" class="cover__intro cover__intro--centered">
    <div class="animate__animated animate__fadeIn">
      <div class="cinder__face"><img src="../assets/images/avatar.png"/></div>

      <h1>
        Hi Brightline, I’m Jon.<br/>
        I <strong>design</strong> and <strong>build</strong> products.
      </h1>
      <p>
        <strong>But I’m also...</strong><br/>
        A father and foster parent. I know the value of behavior health first hand. I would love to be a part of building a bright future for every child. Let's talk.
      </p>
    </div>
    <a class="button" href="#content">Read more</a>

  </header>

  <div id="content" class="page-content animate__animated animate__fadeIn" style="animation-delay: 1s">
    {{ content }}
  </div>

</article>
