<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="home">
    {%- include header.html -%}
    <div class="wrapper">
      <div class="home-banner">
        <!-- <img src="/assets/images/family_photo.jpg" class="mark"/> -->
        <h1 class="brand animate__animated animate__fadeIn"><strong>Jonathan</strong> is a results-driven Product Design Leader and Technologist with over 15 years of experience designing and developing lovable, human-centric, and accessible user experiences and design systems for Enterprise and SaaS</h1>
      </div>
      <ul class="experience-list">
        {% assign sorted = site.portfolio | sort: 'year' | reverse  %}
        {%- for exp in sorted -%}
          <li class="experience-item">
            <a class="experience-link" href="{{ exp.url | relative_url }}">
              <figure><img src="/assets/images/{{ exp.thumbnail }}" alt="{{ exp.title | escape }} thumbnail"/></figure>
              <div class="experience-info">
                <h3 class="experience-title">{{ exp.title | escape }}</h3>
                <div class="experience-excerpt">
                  {{ exp.excerpt}}
                </div>
              </div>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    {%- include footer.html -%}
  </body>
</html>