---
layout: default
---
<article class="page">

  <header id="intro" class="cover__intro cover__intro--centered">
    <div class="animate__animated animate__fadeIn">
      <div class="cinder__face"><img src="../assets/images/avatar.png"/></div>

      <h1>
        Hi Pendo, I’m Jon.<br/>
        I <strong>design</strong> and <strong>build</strong> products.
      </h1>
      <p>
        I‘m not this <a href="https://en.wikipedia.org/wiki/Jon_Stewart">Jon</a>, or that <a href="https://en.wikipedia.org/wiki/Jon_Favreau">Jon</a>, but sometimes I wish I was this <a href="https://en.wikipedia.org/wiki/Bon_Jovi">Jon</a>. 
        I‘m just <a href="/about">me</a> and I‘m passionate about building beautiful products that improve peoples lives. Let's talk.
      </p>
    </div>
    <a class="button" href="#content">Read more</a>

  </header>

  <div id="content" class="page-content animate__animated animate__fadeIn" style="animation-delay: 1s">
    {{ content }}
  </div>

</article>
