---
layout: default
---
<article class="project h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="project-header">
    <h1 class="project-title p-name animate__animated animate__fadeIn" itemprop="name headline">{{ page.excerpt | escape }}</h1>
    <!-- <div class="project-meta grid">
      <div>
        <ul class="categories">
          {% for category in page.categories %}
            <li class="cat">⎯ {{category}}</li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <p class="project-excerpt">
          {{ page.excerpt }}
        </p>
      </div>
    <div> -->
  </header>

  <figure><img src="/assets/images/{{ page.thumbnail }}" width="100%"/></figure>

  <div class="project-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>